html {
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 2.6rem;
}
.main {
    padding: 10px;
    background-color: rgb(235, 235, 235);
    overflow-y: scroll;
    margin: 0 100px;
}
.menu-options {
    display: flex;
    background-color: rgb(99, 99, 99);
    padding: 10px;
    justify-content: flex-end;
}
.menu-options label{
    font-size: 2.2rem;
    margin-right: 10px;
    margin-left: 15px;
}
.menu-options select {
    font-size: 2rem;
}
.car-content {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}
.car-content button {
    padding: 5px 15px;
    border: none;
    background-color: rgb(255, 98, 98);
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 2.4rem;
}
.car-description {
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    gap: 20px;
}
.available-info{
    font-size: 2.4rem;
    background-color: rgb(128, 255, 128);
    padding: 10px 15px;
}